#root {
    text-align: center;
}

.card {
    padding: 2px;
    border: 2px solid lightgrey;
    border-radius: 5px;
    margin: 5px 3px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    border-color: gray;
}

#LapDataContainer {
    padding: 1em;
    /* justify-content: center; */
}

.pill {
    border: solid 1px gray;
    border-radius: 10px;
    padding: 0.1em 0.4em;
    margin: 0 0.1em;
}

#resetButton {
    margin-right: 1em;
}

.pit {
    background-color: rgb(51, 90, 219);
    color: whitesmoke;
}

.valid {
    background-color: green;
    color: whitesmoke;
}

.warn {
    background-color: darkgoldenrod;
    color: whitesmoke;
}

.invalid {
    background-color: red;
    color: whitesmoke;
}

.discard {
    filter: brightness(0.5);
    cursor: not-allowed !important;
}

.fastest {
    background-color: purple;
    color: whitesmoke;
}

.selected {
    border-color: lightgray;
    font-weight: 800;
}

.secondary {
    filter: saturate(0.4);
}

#lapSelector {
    display: flex;
    flex-direction: row;
}

.icon {
    padding-top: 0.2em;
}

.highlight:hover {
    cursor: pointer;
    border-color: white;
    transition: border-color 600ms;
}

.sessionSelect:hover {
    border-color: white;
    color: white;
    cursor: pointer;
    transition: border-color 600ms;
}
.sessionDetail {
    opacity: 0;
    transition: opacity 10ms;
    /* border: 2px solid gray; */
    /* background-color: #242424; */
    /* color: whitesmoke; */
    /* transition: background-color 3000ms; */
}
.sessionSelect:hover .sessionDetail {
    opacity: 1;
    transition: opacity 500ms;
}
.sessionDetail button.destroyAction:hover {
    background-color: darkred;
    transition: background-color 200ms;
    border: 3px solid whitesmoke;
}
.sessionDetail button.cancelAction:hover {
    background-color: green;
    transition: background-color 200ms;
    border: 3px solid whitesmoke;
}
