#root {
    width: 96%;
    margin: 0 auto;
    text-align: center;
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 5px;
    border: 2px solid lightgrey;
    border-radius: 5px;
    margin: 5px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    border-color: gray;
}

#LapDataContainer {
    padding: 1em;
    /* justify-content: center; */
}

#resetButton {
    margin-right: 1em;
}

.pit {
    background-color: blue;
}

.valid {
    background-color: green;
}

.invalid {
    background-color: red;
}

.discard {
    filter: brightness(0.5);
}

.fastest {
    background-color: purple;
}

.selected {
    border-color: lightgray;
}

.secondary {
    filter: saturate(0.4);
}

#lapSelector {
    display: flex;
    flex-direction: row;
}
